.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 40px 0;
    gap: 20px;
}

.product {

}

.thumb {
  width: 100%;
  object-fit: cover;
}

.name {
  margin: 10px 0;
}

.resume, .value {
  margin: 0 0 8px;
}

.btnReservation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: var(--color-whats);
  color: var(--color-text);
  margin: 0 0 10px;
}

.btnReservation img {
    height: 20px;
    margin-left: 10px;
}